@use '../abstract/colors';

header {
    color: colors.$blue;
    font-size: 1.75rem;
    border-bottom: 1px solid lightgray;
    padding: 0.5em 0.5em;
    h1 {
        span {
            font-weight: bold;
        }
    }
}
