@use '../abstract/colors';

.products-container {
    background: lightgray;
    flex: 1;
    h2 {
        font-size: 1.5rem;
    }

    h2,
    .products {
        margin: 2rem;
    }

    .products {
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: start;
        width: 75%;

        .product {
            display: flex;
            padding: 0 2rem;
            align-items: center;
            justify-content: space-evenly;
            border-bottom: 1px solid lightgray;

            &:first-child {
                color: $blue;
            }

            &__name,
            &__price,
            &__quantity,
            &__id,
            &__edit,
            .status__wrapper {
                padding: 1rem;
                flex-basis: calc(100% / 6);
            }

            .status__wrapper {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: start;
            }

            #description {
                text-align: start;
            }

            .product__status {
                padding: 0.4rem;
                width: 80%;
                border: none;
                border-radius: 1rem;

                &--active {
                    color: $green;
                    background: lighten($color: $green, $amount: 48%);
                }
                &--inactive {
                    color: $red;
                    background: lighten($color: $red, $amount: 35%);
                }
            }

            &__edit {
                border-radius: 0.5em;
                background-color: lightgray;
            }
        }
    }
}
