*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  color: #0079ff;
  font-size: 1.75rem;
  border-bottom: 1px solid lightgray;
  padding: 1.25rem;
}
header h1 span {
  font-weight: bold;
}

main {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.menu-container {
  border-right: 1px solid lightgray;
  font-size: 1.2rem;
  min-width: 12%;
}
.menu-container .menu {
  flex: 1;
}
.menu-container .menu__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.5rem;
}
.menu-container .menu__items .menu__item {
  display: inline-flex;
  align-items: center;
  min-height: 2rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.25s;
}
.menu-container .menu__items .menu__item:hover, .menu-container .menu__items .menu__item:focus-within, .menu-container .menu__items .menu__item--active {
  color: #0079ff;
}
.menu-container .menu__items .menu__item p,
.menu-container .menu__items .menu__item i {
  font-size: 1.35rem;
}
.menu-container .menu__items .menu__item p {
  font-weight: bold;
}

.products-container {
  background: lightgray;
  flex: 1;
}
.products-container h2 {
  font-size: 1.5rem;
}
.products-container h2,
.products-container .products {
  margin: 2rem;
}
.products-container .products {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: start;
  width: 75%;
}
.products-container .products .product {
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
}
.products-container .products .product:first-child {
  color: #0079ff;
}
.products-container .products .product__name, .products-container .products .product__price, .products-container .products .product__quantity, .products-container .products .product__id, .products-container .products .product__edit,
.products-container .products .product .status__wrapper {
  padding: 1rem;
  flex-basis: 16.6666666667%;
}
.products-container .products .product .status__wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
}
.products-container .products .product #description {
  text-align: start;
}
.products-container .products .product .product__status {
  padding: 0.4rem;
  width: 80%;
  border: none;
  border-radius: 1rem;
}
.products-container .products .product .product__status--active {
  color: rgba(0, 223, 67, 0.9921568627);
  background: rgba(213, 255, 225, 0.9921568627);
}
.products-container .products .product .product__status--inactive {
  color: #ff0040;
  background: #ffb3c6;
}
.products-container .products .product__edit {
  border-radius: 0.5em;
  background-color: lightgray;
}/*# sourceMappingURL=styles.css.map */